.header {
    max-width: 500px;
    color: gold;
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
    border: gold 4px solid;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.788);
    
}